@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.WiredPanels .fadeIn {
    animation: fadeIn 0.25s linear forwards;
}

.WiredPanels .fadeOut {
    animation: fadeOut 0.25s linear forwards;
}

.WiredPanels {
    height: 800px;
    padding: 0px;
    margin: 0px;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.WiredPanels svg {
    width: 100%;
    height: 100%;
    padding: 0;
}

.WiredPanels * {
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    fill: blue;
    color: blue;
}

.WiredPanels .panel {
    fill: transparent;
    stroke: blue;
}

.WiredPanels .socket {
    stroke-width: 2;
    fill: transparent;
    stroke: blue;
}

.WiredPanels .socket:hover {
    stroke-width: 4;
}

.WiredPanels .wire {
    stroke-linecap: round;
    stroke-width: 4;
    stroke-opacity: 0.6;
    stroke: blue;
    fill: none;
}

.WiredPanels .wire:hover {
    stroke-opacity: 1;
}

.WiredPanels .cursor {
    filter: url(#blurFilter);
}

/* .LinkedBoxes .arrow {
    marker-end: url(#arrowMarker);
} */
