
.draggable {
  cursor: move;
}

.step {
  stroke:black;
  stroke-width:2px;
  fill:#f0f0d2;
}

.step:hover {
  stroke-width:4px;
}

.connector {
  fill:none;
  stroke:black;
  stroke-width:2px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  marker-end:url(#ConnArrowEnd);
}

.connector:hover {
  stroke-width:4px;
}

.cluster {
  fill:#ffdd3c;
  fill-opacity:0.372549;
  stroke:#ffdd3c;
  stroke-opacity:1;
}

.tLabel {
  text-anchor:middle;
  text-align:center;
}

.tsLabel {
  font-size:14px;
  font-style:normal;
  font-weight:normal;
  fill:black;
  fill-opacity:1;
  stroke:none;
  font-family:DejaVu Sans;
}

.frLabel {
  font-size:14px;
  font-style:normal;
  font-weight:normal;
  fill:black;
  fill-opacity:1;
  stroke:none;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  font-family:DejaVu Sans;
  font-stretch:normal;
  font-variant:normal;
  text-anchor:middle;
  text-align:center;
  progression-align:center;
  writing-mode:lr;
  line-height:125%;
}
