<h3 id='title'>Flow {{name}}</h3>

<div>description: {{description}}</div>

{{#ui-accordion class="styled"}}
  <div class="active title">
    <i class="dropdown icon"></i>
    Aktuelle Artikel
  </div>
  <div class="active content">
    <p>A</p>
    <p>B</p>
    <p>C</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Zuletzt entnommen
  </div>
  <div class="content">
    <p>1 x A</p>
  </div>
{{/ui-accordion}}
