<table class="ui celled striped table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{content.name}}</td>
    </tr>
    <tr>
      <td>Platform</td>
      <td>{{content.platform}}</td>
    </tr>
    <tr>
      <td>Node Version</td>
      <td>{{content.versions.node}}</td>
    </tr>
  </tbody>
</table>
