<table class="ui celled striped table">
  <tbody>
    <tr>
      <td>Platform</td>
      <td>{{content.platform}}</td>
    </tr>
    <tr>
      <td>Node</td>
      <td>{{content.versions.node}}</td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>{{App.APP.version}}</td>
    </tr>
  </tbody>
</table>
