<div class="ui menu">
  <div class="header active item">{{#link-to 'index'}}Kronos{{/link-to}}</div>
  {{#link-to 'flows' class="item"}}Flows{{/link-to}}
  {{#link-to 'services' class="item"}}Services{{/link-to}}
  {{#link-to 'state' class="item"}}State{{/link-to}}
  <div class="right menu">
    {{#link-to 'about' class="item"}}About{{/link-to}}
  </div>
</div>

{{outlet}}
