<h2 id='title'>Kronos</h2>

<div class="ui small breadcrumb">
  {{#link-to 'index'}}Home{{/link-to}}
  <i class="right chevron icon divider"></i>
  {{#link-to 'state' class="section"}}State{{/link-to}}
  <i class="right chevron icon divider"></i>
  {{#link-to 'about' class="active section"}}About{{/link-to}}
</div>

<div>
  {{#link-to 'flows'}}Flows{{/link-to}}
</div>

{{outlet}}
