<h3 id='title'>{{content.name}}</h3>

<div>{{content.description}}</div>

{{#ui-accordion class="styled"}}
  <div class="active title">
    <i class="dropdown icon"></i>
    Aktuelle Artikel
  </div>
  <div class="active content">

    {{#each content.steps as |step|}}
      <li>{{step.name}} AA</li>
    {{/each}}

    <p>A</p>
    <p>B</p>
    <p>C</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Zuletzt entnommen
  </div>
  <div class="content">
    <p>1 x A</p>
  </div>
{{/ui-accordion}}
