{{#link-to 'index'}}Home{{/link-to}}
<h3 id='title'>Flows</h3>
<ul>
  {{#each flow in content}}
    <li>{{#link-to 'flow' flow}}<b>{{flow.name}}</b> {{flow.description}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
