<div class="content">
  {{content.name}}
  <div class="ui list">
  {{#each content.tags as |tag|}}
    <a class="item">
       <i class="right triangle icon"></i>
       <div class="content">
         <div class="header">{{tag}}</div>
       </div>
     </a>
  {{/each}}
  </div>
</div>
