<div class="content">
  {{content.name}}
  <div class="ui list">
    {{#each-in content.steps as |name step|}}
    <a class="item">
       <i class="right triangle icon"></i>
       <div class="content">
         <div class="header">{{name}}</div>
       </div>
    </a>
    {{/each-in}}
  </div>
</div>
