<div class="content">
  <table class="ui sortable celled table">
    <thead>
      <tr>
        <th class="">Name</th>
        <th class="">Address</th>
        <th class="">Port</th>
        <th class="">Modified</th>
      </tr>
    </thead>
    <tbody>
      {{#each-in content as |name node|}}
      <tr>
        <td>{{#link-to 'node' node}} {{node.name}}{{/link-to}}</td>
        <td>{{node.ServiceAddress}}</td>
        <td>{{node.ServicePort}}</td>
        <td>{{node.ModifyIndex}}</td>
      </tr>
      {{/each-in}}
    </tbody>
  </table>
</div>
