<div class="content">
<div class="ui relaxed celled list">
  {{#each-in content as |name service|}}
  <div class="item">
    <i class="large middle aligned icon"></i>
    <div class="content">
      {{#link-to 'service' service class="header"}}{{service.name}}{{/link-to}}
    </div>
  </div>
  {{/each-in}}
</div>
</div>
