<div class="content">
  {{content.name}} {{content.state}}
<div class="ui relaxed celled list">
  {{#each-in content.endpoints as |name endpoint|}}
  <div class="item">
    <i class="large middle aligned icon"></i>
    <div class="content">
      {{endpoint.name}} {{endpoint.direction}}
    </div>
  </div>
  {{/each-in}}
</div>
</div>
